@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Kanit:wght@500;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

.App{
  min-width: 1000px;
  background-size:contain; 
  margin: 24px 160px 24px 160px;
}
